@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  /* font-family: Barlow, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-top: 3rem; */
  color: #bbb;
  background: #000;
}

#teaser {
  height: 100vh;
  width: 100vw;
}


/* VIDEO BACKGROUND */
.videoBackground {
  position: relative;
  background-color: black;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.videoBackground > video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videoBackground .container {
  position: relative;
  z-index: 3;
}

.videoBackground .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 1;
  z-index: 1;

  /* animation-name: flicker;
  animation-duration: 4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

/* @keyframes flicker {
  from {opacity: 1;}
  to {opacity: .6;}
} */




.videoBackground .vignette {
  box-shadow: inset 0 0 100px #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: none;
  opacity: 1;
  z-index: 2;
}


/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  .videoBackground {
    background: url('../img/top.png') black no-repeat center center scroll;
    background-size: cover;
  }
  
  .videoBackground > video {
    display: none;
  }
}



#timer {
  opacity: 0;
  font-size: 3em;
}


.teaser-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.teaser-content div {
  flex: 0 0 100%;
  color: #fff;
  text-align: center;
}

.teaser-content p {
  font-size: 1.4em;
  opacity: 0;
}

.teaser-content h1 {
  font-size: 5em;
  letter-spacing: .1em;
}

.teaser-content h1 span {
  opacity: 0;
}

.timeUnits {
  font-size: .5em !important;
  color: #888;
  margin: 0 12px 0 -4px;
}