@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;900&display=swap');

body {
  font-family: Barlow, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 3rem;
  color: #bbb;
  background: #000;
}


/* 
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
} */


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }



/* VIDEO BACKGROUND */
.videoBackground {
  position: relative;
  background-color: black;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.videoBackground > video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videoBackground .container {
  position: relative;
  z-index: 2;
}

.videoBackground .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

/* @media (pointer: coarse) and (hover: none) {
  .videoBackground {
    background: url('../img/top.png') black no-repeat center center scroll;
    background-size: cover;
  }
  
  .videoBackground > video {
    display: none;
  }
} */


/* CUSTOM */
.navbar-brand {
  font-weight: 900;
}
.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none !important;
}
.nav-item { 
  padding: 0 10px;
  background: #000;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item:hover {
  background: #c07;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-item:hover a  {
  color: #fff !important;
}

#navbarCollapse {
  justify-content: flex-end;
}

.social.discord svg {
  width: 25px;
  height: 25px;
}

.social.twitter svg{
  width: 22px;
  height: 22px;
} 

nav {
  background: #000;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-fatbaby {
  color: #f12;
}

#versus {
  position: relative;
  display: inline-block;
  /* min-height: calc(100vh - 50px); */
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  padding: 60px 2vw 50px 2vw;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.teambox {
  height: 100%;
  width: 100%;
  /* max-width: 1100px; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.box {
  background: #000;
  padding: 10px;
  z-index: 11;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: calc(50% - 10px);
  /* height */
  margin: 30px 0 10px 0;
  z-index: 11;
}

.team-name {
  margin: -50px 0 0 0;
  z-index: 100;
  background: #f0f;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0px 8px;
}

.team-img {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}
.team-img video {
  position: relative;
  height: 100%;
  width: 100%;
}
.team-vote {
  display: absolute;
  padding: 0px 18px 3px 15px;
  margin: -40px 0 0px 0;
  /* height: 20px; */
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: 900;
  z-index: 1000;
  color: #000;
  background: #fff;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.team-vote:hover {
  color: #fff;
  background: #f00;
  cursor: pointer;
}

@media (max-width: 768px) {
  .team {
    width: 100%;
  }
  .team-name {
    font-size: 1.5em;
  }
  .team-vote {
    margin: -20px 0 0px 0;
    font-size: 1.4em;
  }
}

.versus-graphic {
  transform: rotateZ(-4deg);
  background: #cf0080;
  width: 130px;
  margin: 0 -80px;
  font-weight: 900;
  padding: 10px;
  z-index: 100;
  font-size: 30px;
  color: #fff;
}
.hp {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  position: relative;
  height: 50px;
  margin: 0 0px;
  padding: 6px;
  box-sizing: border-box;
  width: 100%;
  background:#000;
}
.hp div {
  display: flex;
  font-weight: 900;
  justify-content: center;
  line-height: 0;
  align-items: center;
  font-size: 2em;
  color: #000;
  height: 100%;
}

@media (max-width: 768px) {
  .hp div {
    font-size: 1.4em;
  }
}
#team1-votes {
  width: calc(50% - 3px);
  background:#ff00a0;
}
#team2-votes {
  width: calc(50% - 3px);
  background: #00f0f0;
}
.timer {
  z-index: 11;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#timer-container {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

#timer {
  display: block;
  z-index: 11;
  /* width: 240px; */
  text-align: center;
  color: #fff;
  background: #000;
  padding: 0px 10px 8px 10px;
  font-size: 2.5em;
  font-weight: 900;
  
}

@media (max-width: 768px) {
  #timer {
    font-size: 1.8em;
    width: 200px;
  }
}
#teams {
  padding: 70px 0;
}

#teams h2 {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  padding: 0 12px 5px 12px;
  background: #f0f;
  text-transform: uppercase;
  transform: rotateZ(-3deg);
  text-align: center;
  /* max-width: 35vw; */
  margin: 0px auto 25px auto;
}

.team-description {
  text-align: center;
  margin: 40px 0px;
}
.team-description p {
  margin: 20px 0 40px 0;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}

#FAQ {
  padding: 50px 0 70px 0;
}

#FAQ h1 {
  width: 100%;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
}

#prize {
  padding: 100px 0;
}
#prize h2 {
  color: #fff;
}

.lead{
  padding: 0 100px 0 0;
}
.prize-image-container {
  position: relative;
  display: block;
}
.prize-image-container video {
  display: block;
  width: 100%;
}

h2 {
  font-weight: 900;
}

.accordion {
  border: none;
  max-width: 800px;
  margin: auto;
}

.accordion-button {
  font-size: 18px;
  display: flex;
  border: none;
  text-transform: uppercase;
  justify-content: center;
  color: #fff;
  font-weight: 900;
  background: #000;
}

.accordion-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-button:not(.collapsed) {
  background: #f0f;
  border: none;
  color: #000;
}

.accordion-body {
  font-size: 18px;
  padding: 30px;
  max-width: 1100px;
  margin: 0 auto;
  color: #000;
  background: none;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #444;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}


.btn-secondary {
  background: #444;
  border: none;
  border-radius: 0;
  margin: 0 6px 8px 0;
  font-weight: 900;
  font-size: 1.1em;
}

.btn-secondary:hover {
  background: #fff;
  color:#000;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
a.author {
  
  background: #444;
  color: #fff;
  text-decoration: none;
  padding: 2px 12px 4px 12px;
  margin: 0 3px;
  font-weight: 900;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a.author:hover {
  background: #f0f;
  color: #000;
}

.quotes {
  font-size: 1.4em;
  line-height: .5em;
  font-weight: 900;
  color: #777;
  padding: 4px 7px;
}


a {
  text-decoration: none;
  color: #fff;
}

.backtotop a {
  font-weight: 900;
  background: #555;
  padding: 2px 12px 4px 12px;
  color: #000;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backtotop a:hover {
  color: #aaa;
  background: #333;
}

.accordion-body a {
  font-weight: 900;
  text-decoration: underline;
  color: #000;
}
.accordion-body a:hover {
  color: #f06;
}
#tournament {
  padding-bottom: 50px;
}

#tournament img {
  max-width: 1100px;
  margin: 0 auto;
}

#tournament-title {
  margin: 100px 0 0 0;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

#tournament-text {
  font-size: 1.1em;
  text-align: center;
  line-height: 1.7em;
}
/* .prize-text {
  display: flex;

  align-items: center;
} */